body{
    font-family: "微软雅黑";
}
.navbar{
	height: 70px;
  text-align: center;
}
.nav-li{
	font-size: 20px;
	/* font-weight: bold; */
	padding-top: 10px;
}
.navbar-default .navbar-nav>li:hover{
    background-color:#d4d3d3;
	
}
